server:
  host: 0.0.0.0
  port: 3000
  base_url: https://${HEADPLANE_HOST}
  cookie_secret: ${HEADPLANE_COOKIE_SECRET}
  cookie_secure: true
headscale:
  url: http://headscale.${HEADSCALE_NAMESPACE}.svc.cluster.local:8080
  config_strict: false

oidc:
  issuer: ${KEYCLOAK_ISSUER}
  client_id: ${KEYCLOAK_CLIENT_ID}
  client_secret_path: /run/secrets/keycloak-client-secret
  headscale_api_key: ${HEADSCALE_API_KEY}
  redirect_uri: https://${HEADPLANE_HOST}/admin/oidc/callback
  token_endpoint_auth_method: client_secret_post
  disable_api_key_login: true
