apiVersion: v1
kind: Secret
metadata:
  name: headplane-secret
  namespace: ${HEADSCALE_NAMESPACE}
type: Opaque
stringData:
  cookie-secret: ${HEADPLANE_COOKIE_SECRET}
  api-key: ${HEADSCALE_API_KEY}
